* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.navbar {
    background-color: #1e293b;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-btn {
    background-color: #3b82f6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.banner {
    background-image: url('../Image/Hero-bg.png');
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

.banner h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.focus-btn {
    background-color: #3b82f6;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.action-section {
    padding: 60px 40px;
}

.action-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.action-text {
    max-width: 500px;
}

.action-text h2 {
    font-size: 42px;
    margin-bottom: 15px;
    color: #1e293b;
}

.action-text p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #475569;
}

.launch-btn {
    background-color: #3b82f6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.action-image {
    border-radius: 6px;
}